.game-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-games {
    height: 4vh;
    padding: 0px;
    margin: 0;
}

.list-name span {
    font-family: 'Press Start 2P', cursive !important;
}

@media screen and (max-width: 480px) {
    .list-name span {
        font-size: 15px;
    }

    .img-card {
        height: 200px;
    }
} 

@media screen and (max-width: 380px) {
    .list-name span {
        font-size: 12px;
    }

    .img-card {
        height: 200px;
    }
} 