.game-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-games {
    height: 3vh;
    padding: 0px;
    margin: 0;
}

.list-name span {
    font-family: 'Press Start 2P', cursive !important;
}

@media screen and (max-width: 1850px) {
    .list-games {
        height: 2vh;
    }

    .img-card {
        height: 300px;
    }
}

@media screen and (max-width: 1440px) {
    .list-games {
        height: 2vh;
    }

    .img-card {
        height: 300px;
    }
}

@media screen and (max-width: 870px) {
    .list-games {
        height: 2vh;
        padding: 0px;
        margin: 0;
    }

    .img-card {
        height: 250px;
    }
}

@media screen and (max-width: 480px) {
    .list-name span {
        font-size: 15px;
    }

    .img-card {
        height: 200px;
    }
} 

@media screen and (max-width: 380px) {
    .list-name span {
        font-size: 12px;
    }

    .img-card {
        height: 200px;
    }
} 