#demo-simple-select-label{
    color: rgb(245, 234, 240);
}

#name-console{
    background-color: rgb(41, 7, 102);
}

#item-name-console {
    color: aliceblue;
}

#selectConsole {
    display: flex;        
    justify-content: center;
    text-align: center;
    background-color: rgba(192, 192, 192, 0.164);
}

#selectConsole:hover {
    background-color: rgba(102, 70, 121, 0.452);
}